@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #011f3f;
    text-align: center;
    padding: 40px;
    font-family: 'Press Start 2P', cursive;
    color: #fef2bf;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.error{
    background-color: red;
}

h1{
    font-size: 4rem;
    margin-top: 10px;
}

.container-fluid{
    padding: 30px 10px;
}

.btn{
    margin: 30px;
}
.btn:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    box-shadow: 0 9px #999;
    opacity: .7;
}

.game-btn{
    height: 180px;
    width: 180px;
    margin: 20px;
    border-width: .7rem;
    border-color: black;
    border-radius: 2rem;
    box-shadow: 0 9px #999;
}
.game-btn:hover{
    border-color: black;
}
.game-btn:focus{
    border-color: black;
    box-shadow: 0 9px #999;
}
.game-btn:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    box-shadow: 0 9px #999;
    opacity: .7;
}

.press{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    box-shadow: 0 9px #999;
    opacity: .7;
}

.glow{
    box-shadow: 0 0 50px white;
}

.green{
    background-color: green;
}
.green:hover{
    background-color: green;
}
.green:focus{
    background-color: green;
}

.red{
    background-color: red;
}
.red:hover{
    background-color: red;
}
.red:focus{
    background-color: red;
}

.yellow{
    background-color: yellow;
}
.yellow:hover{
    background-color: yellow;
}
.yellow:focus{
    background-color: yellow;
}

.blue{
    background-color: blue;;
}
.blue:hover{
    background-color: blue;;
}
.blue:focus{
    background-color: blue;;
}

p{
    margin: 20px;
}


@media (max-width: 600px){
    .game-btn{
        height: 150px;
        width: 150px;
        border-width: .5rem;
        box-shadow: 0 7px #999;
    }
    .game-btn:focus{
        box-shadow: 0 7px #999;
    }
    .game-btn:active{
        box-shadow: 0 3px #666;
        box-shadow: 0 7px #999;
    } 
    
    .press{
        box-shadow: 0 3px #666;
        transform: translateY(4px);
        box-shadow: 0 7px #999;
        opacity: .7;
    }
    
    .glow{
        box-shadow: 0 0 40px white;
    }

    h1{
        font-size: 2rem;
    }
}

@media (max-width: 500px){
    .game-btn{
        height: 100px;
        width: 100px;
        border-width: .3rem;
        box-shadow: 0 5px #999;
    }
    .game-btn:focus{
        box-shadow: 0 5px #999;
    }
    .game-btn:active{
        box-shadow: 0 1px #666;
        box-shadow: 0 5px #999;
    } 
    
    .press{
        box-shadow: 0 1px #666;
        transform: translateY(4px);
        box-shadow: 0 5px #999;
        opacity: .7;
    }
    
    .glow{
        box-shadow: 0 0 30px white;
    }

    h1{
        font-size: 1.5rem;
    }
}